@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;500;700&family=Tektur:wght@400;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-behavior: smooth;
}

h1,
h2,
h3,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    letter-spacing: 1px;
}

p,
a {
    font-weight: 300;
    letter-spacing: .5px;
    color: #d7dbde;
}

/* === Scroll Bar CSS === */
::-webkit-scrollbar {
    width: 6px;
    background: linear-gradient(180deg, #0d141b, #2c465b);
}

/* Track */
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 2px #184671;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #018cff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #629eff;
}

body {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(180deg, #0d141b, #2c465b);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
}


/* === Header CSS === */
header {
    width: 100%;
    margin-top: 20px;
    padding: 0px 10px;
    position: -webkit-sticky;
    position: fixed;
    top: 0px;
    z-index: 99;
}

.navbar {
    max-width: 1350px;
    padding: 5px 25px;
    width: 100%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #09131ded;
    border: 1px solid #184671;
    border-radius: 20px;
}

.logo a img {
    width: 50px;
    padding-top: 5px;
    padding-bottom: 2px;
}

nav ul {
    display: flex;
}

nav ul li {
    margin-left: 25px;
}

nav ul li a {
    font-size: 16px;
    letter-spacing: 1px;
    transition: all .3s;
    position: relative;
    text-transform: uppercase;
    font-family: 'Tektur', cursive;
    font-weight: 400;
}

nav ul li a:hover {
    color: #018cff;
}

nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: -4px;
    left: 0;
    background-color: #018cff;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

nav ul li a:hover::after {
    transform: scaleX(1);
    transform-origin: bottom left;
}

.menu-icon {
    display: none;
}

.nav-icon {
    color: #fff;
    font-size: 25px;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding: 20px;
}

/* ====hero section css==== */
.hero-section {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hero {
    text-align: center;
    width: 100%;
}

.hero-title {
    font-size: 60px;
    font-weight: 800;
    text-transform: uppercase;
    background: -webkit-linear-gradient(-180deg, #209cff 0%, #68e0cf 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Tektur', cursive;
    letter-spacing: 4px;
    animation: text 1s ease-in-out infinite;
}

@keyframes text {
    0% {
        background: -webkit-linear-gradient(-180deg, #209cff 0%, #68e0cf 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    50% {
        background: -webkit-linear-gradient(-180deg, #68e0cf 0%, #209cff 100%);
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

.hero-sub {
    font-size: 22px;
    padding: 10px 0px;
    font-weight: 500;
    letter-spacing: 1px;
}

.hero-btn {
    max-width: 500px;
    margin: auto;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 20px;
}

.hero-btn .btn-link {
    width: 220px;
    background-color: #018cff;
    color: #fff;
    margin: 10px;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 18px;
    font-weight: 400;
    transition: all .3s;
}

.hero-btn .btn-link:hover {
    transform: translateY(2px);
}

.hero-btn .btn-link:nth-child(3),
.hero-btn .btn-link:nth-child(4) {
    background: #ffffff;
    color: #0d141b;
}


/* === Titles === */
.common-title {
    font-size: 30px;
    text-transform: uppercase;
    width: fit-content;
    margin: auto;
    font-family: 'Tektur', cursive;
    text-align: center;
    color: #629eff;
    padding-bottom: 35px;
    background: -webkit-linear-gradient(-180deg, #209cff 0%, #68e0cf 100%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
    position: relative;
}

.common-title::after {
    content: "";
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    width: 140px;
    height: 5px;
    border-radius: 5px;
    background: linear-gradient(-90deg, #209cff 0%, #68e0cf 100%);
}


/* === All Section === */
.section {
    padding: 5% 0;
}


/* ===About Section=== */

.about-section {
    margin: 3rem 0;
    padding: 0 20px;
}

.content {
    max-width: 1100px;
    margin: auto;
    margin-top: 40px;
    background-color: #091926;
    padding: 50px 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 20px #122b3fe4;
}

.content p {
    color: #ffffff;
    text-align: center;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 400;
}


/*==== Theme Card CSS ====*/

.theme-section {
    margin: 3rem 0;
}

.themes {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.theme-card {
    width: 320px;
    height: 380px;
    margin: 20px;
    color: #fff;
    border-radius: 10px;
    background-color: #2f4f67;
    box-shadow: 0px 5px 20px #122b3fe4;
    border: 1px solid #293c4b;
    cursor: pointer;
    transition: all .3s;
}

.theme-card:hover {
    border: 1px solid #2f74b4;
    transform: translateY(-2px);
    opacity: .8;
}

.theme-img img {
    width: 320px;
    height: 180px;
    margin: auto;
    padding-right: 1px;
    border-radius: 10px 10px 0px 0px;
}

.theme-content {
    padding: 10px 15px;
}

.theme-content p {
    padding-top: 8px;
}

/*==== Mentors CSS ====*/

.team-section {
    margin: 4rem 0;
}

.team {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.team-box {
    text-align: center;
    margin: 20px 30px;
    position: relative;
}

.team-img {
    width: 220px;
    height: 220px;
    background-color: #2f4f67;
    border-radius: 25%;
}

.team-img img {
    width: 220px;
    height: 220px;
    padding: 10px;
    border-radius: 25%;
    z-index: 1;
    border: 2px solid #ffffff;
}

.team-content {
    width: 220px;
    background-color: #2f74b4;
    padding: 15px;
    padding-top: 75px;
    position: absolute;
    border-radius: 0px 0px 10px 10px;
    bottom: -60px;
    z-index: -1;
    box-shadow: 0px 5px 20px #122b3fe4;
}

.team-content h3 {
    color: #ffffff;
    padding-bottom: 5px;
    letter-spacing: 1.5px;
}


/*==== FAQ SECTION ====*/
.faq-section {
    margin-top: 4rem;
}

.faq-container {
    max-width: 1000px;
    margin: auto;
    margin-top: 40px;
    border-radius: 10px;
    padding: 15px;
    background-color: #091926;
    box-shadow: 0px 10px 20px #122b3fe4;
}

.faq-body {
    padding: 30px;
    padding-top: 10px;
    border-radius: 10px;
}



/* === Media Queries CSS === */

@media screen and (max-width: 950px) {
    header {
        margin-top: 0px;
        padding: 0px;
    }

    .navbar {
        border-radius: 0px;
        border: none;
    }

    nav {
        display: none;
        position: absolute;
        top: 0;
        right: 0;
        height: 100vh;
        width: 65%;
        background-color: #14293afa;
        transition: all .2s;
    }

    nav.active {
        display: block;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 20px 0px;
        margin-top: 40px;
        padding: 20px;
    }

    nav ul li {
        margin: 20px 0px;
    }

    .menu-icon {
        display: block;
        z-index: 99;
    }

    .open-menu {
        display: block;
    }

    .close-menu {
        display: none;
    }

    .active.close-menu {
        display: block;
    }

    .active.open-menu {
        display: none;
    }

    .theme-section {
        padding-top: 10%;
    }

    .team-box {
        margin: 50px 0px;
    }

    .team {
        margin-top: 0px;
    }
}


@media screen and (max-width: 650px) {
    .hero-section {
        height: 90vh;
        padding-top: 40px;
    }

    .hero-title {
        font-size: 30px;
        padding-top: 40px;
        font-weight: 700;
    }

    .hero-sub {
        font-size: 18px;
    }

    .about-section {
        padding: 0px;
        height: 100%;
    }

    .theme-card {
        width: 300px;
        height: fit-content;
        margin: 15px 0px;
    }

    .theme-img img {
        width: 300px;
    }

    .faq-body {
        padding: 10px;
        padding-top: 0;
    }

}
