.heading-container .heading {
    font-size: 60px;
    color: white;
    margin-bottom: 3rem;
    line-height: 60px;
    font-weight: 600;
}

@media (max-width:500px) {
    .heading-container .heading {
        font-size: 50px;
    }
}

.main-timeline {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif !important
}

.main-timeline:after {
    content: '';
    display: block;
    clear: both;
}

.main-timeline .timeline {
    width: calc(50% + 58px);
    border-top: 2px solid #e4e4e4;
    float: left;
    position: relative;
    z-index: 1;
}

.main-timeline .timeline:before {
    content: "";
    background: #e4e4e4;
    width: 10px;
    height: 10px;
    border-radius: 50px;
    position: absolute;
    top: -5px;
    right: 0;
}

.main-timeline .timeline-content {
    color: #e4e4e4;
    text-align: center;
    padding: 15px 80px 15px 10px;
    display: block;
    position: relative;
    text-decoration: none;
}

.main-timeline .timeline-content:hover {
    text-decoration: none;
}

.main-timeline .timeline-content:before {
    content: "";
    background: #6C1F93;
    width: 15px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 50px;
}

.main-timeline .timeline-year {
    font-size: 20px;
    line-height: 35px;
    font-weight: 700;
    transform: translateY(-50%) rotate(90deg);
    position: absolute;
    top: 50%;
    right: -25px;
}

.main-timeline .title {
    font-size: 22px;
    font-weight: 600;
    letter-spacing: 0.5px;
    text-transform: uppercase;
    margin: 0 0 8px;
}

.main-timeline .description {
    text-align: justify;
    padding: 20px;
    font-size: 14px;
    margin: 0;
}

.main-timeline .timeline:nth-child(even) {
    float: right;
}

.main-timeline .timeline:nth-child(even):before {
    right: auto;
    left: 0;
}

.main-timeline .timeline:nth-child(even) .timeline-content {
    padding: 15px 10px 15px 80px;
}

.main-timeline .timeline:nth-child(even) .timeline-content:before {
    right: auto;
    left: 51px;
}

.main-timeline .timeline:nth-child(even) .timeline-year {
    right: auto;
    left: -25px;
}

.main-timeline .timeline:nth-child(4n+2) .timeline-content:before {
    background: #360498;
}

.main-timeline .timeline:nth-child(4n+3) .timeline-content:before {
    background: #00CCFF;
}

.main-timeline .timeline:nth-child(4n+4) .timeline-content:before {
    background: #ff3e7c;
}

@media screen and (max-width:767px) {
    .main-timeline .timeline {
        width: 100%;
    }
}